        'chk_elnino_flooding': context['chk_elnino_flooding'],
                'elnino_start_day': context['elnino_start_day'],
                'elnino_stop_day': context['elnino_stop_day'],
                'chk_annual_flooding': context['chk_annual_flooding'],
                'annual_start_day': context['annual_start_day'],
                'annual_stop_day': context['annual_stop_day'],
                'annual_proportion': context['annual_proportion'],
                'chk_s_effect_hatching': context['chk_s_effect_hatching'],
                's_effect_hatching_delay': context['s_effect_hatching_delay'],
                's_effect_hatching_peaks': context['s_effect_hatching_peaks'],
                'chk_annual_variation_climate': context['chk_annual_variation_climate'],
                'annual_variation_dry_years': context['annual_variation_dry_years'],
                'annual_variation_total_years': context['annual_variation_total_years'],
                'annual_variation_minimum': context['annual_variation_minimum'],
                'chk_annual_transhumance': context['chk_annual_transhumance'],
                'trans_home_to_pasture': context['trans_home_to_pasture'],
                'trans_pasture_to_home': context['trans_pasture_to_home'],
                'chk_animal_susceptibility': context['chk_animal_susceptibility'],
                'animal_susceptibility_start': context['animal_susceptibility_start'],
                'animal_susceptibility_stop': context['animal_susceptibility_stop'],
                'animal_susceptibility_factor': context['animal_susceptibility_factor'],
                'infected_rate_wildlife': context['infected_rate_wildlife'],
                'alt_host_bite': context['alt_host_bite'],