# sheets = Sheets.from_files("templates/client_secret.json")
    __location__ = os.path.realpath(os.path.join(os.getcwd(), os.path.dirname(__file__)))
    f = os.path.join(__location__, 'templates/shield.json');

    # use creds to create a client to interact with the Google Drive API
    scope = ['https://www.googleapis.com/auth/spreadsheets',
             'https://www.googleapis.com/auth/drive', 'https://spreadsheets.google.com/feeds']
    #creds = Credentials.from_service_account_file(f, scopes=scope)
    creds = ServiceAccountCredentials.from_json_keyfile_name(f,scope)
    client = gspread.authorize(creds)

    # Find a workbook by name and open the first sheet
    # Make sure you use the right name here.
    sheet = client.open("anto1").worksheet("livestock_population")

    sheet.update_cell(1, 1, "County")
    sheet.update_cell(1, 2, "Exotic Cattle")
    sheet.update_cell(1, 3, "Indigenous cattle")
    sheet.update_cell(1, 4, "Sheep")
    sheet.update_cell(1, 5, "Goats")
    sheet.update_cell(1, 6, "Camels")
    sheet.update_cell(1, 7, "Donkeys")
    sheet.update_cell(2, 1, "NAIROBI")
    sheet.update_cell(3, 1, "NYANDARUA")
    sheet.update_cell(4, 1, "NYERI")
    sheet.update_cell(5, 1, "KIRINYAGA")
    sheet.update_cell(6, 1, "MURANG'A")
    sheet.update_cell(7, 1, "KIAMBU")
    sheet.update_cell(8, 1, "MOMBASA")
    sheet.update_cell(9, 1, "KWALE")
    sheet.update_cell(10, 1, "KILIFI")
    sheet.update_cell(11, 1, "TANARIVER")
    sheet.update_cell(12, 1, "LAMU")
    sheet.update_cell(13, 1, "TAITATAVETA")
    sheet.update_cell(14, 1, "MARSABIT")
    sheet.update_cell(15, 1, "ISIOLO")
    sheet.update_cell(16, 1, "MERU")
    sheet.update_cell(17, 1, "THARAKA")
    sheet.update_cell(18, 1, "EMBU")
    sheet.update_cell(19, 1, "KITUI")
    sheet.update_cell(20, 1, "MACHAKOS")
    sheet.update_cell(21, 1, "MAKUENI")
    sheet.update_cell(22, 1, "GARISSA")
    sheet.update_cell(23, 1, "WAJIR")
    sheet.update_cell(24, 1, "MANDERA")
    sheet.update_cell(25, 1, "SIAYA")
    sheet.update_cell(26, 1, "KISUMU")
    sheet.update_cell(27, 1, "HOMABAY")
    sheet.update_cell(28, 1, "MIGORI")
    sheet.update_cell(29, 1, "KISII")
    sheet.update_cell(30, 1, "NYAMIRA")
    sheet.update_cell(31, 1, "TURKANA")
    sheet.update_cell(32, 1, "WESTPOKOT")
    sheet.update_cell(33, 1, "SAMBURU")
    sheet.update_cell(34, 1, "TRANSNZOIA")
    sheet.update_cell(35, 1, "BARINGO")
    sheet.update_cell(36, 1, "UASINGISHU")
    sheet.update_cell(37, 1, "ELGEYO-MARAKWET")
    sheet.update_cell(38, 1, "NANDI")
    sheet.update_cell(39, 1, "LAIKIPIA")
    sheet.update_cell(40, 1, "NAKURU")
    sheet.update_cell(41, 1, "NAROK")
    sheet.update_cell(42, 1, "KAJIADO")
    sheet.update_cell(43, 1, "KERICHO")
    sheet.update_cell(44, 1, "BOMET")
    sheet.update_cell(45, 1, "KAKAMEGA")
    sheet.update_cell(46, 1, "VIHIGA")
    sheet.update_cell(47, 1, "BUNGOMA")
    sheet.update_cell(48, 1, "BUSIA")
    sheet.update_cell(49, 1, "Total")


    #Exotic Cattle
    sheet.update_cell(2, 2, int(context['nairobi_exotic_cattle']))
    sheet.update_cell(3, 2, int(context['nyandarua_exotic_cattle']))
    sheet.update_cell(4, 2, int(context['nyeri_exotic_cattle']))
    sheet.update_cell(5, 2, int(context['kirinyaga_exotic_cattle']))
    sheet.update_cell(6, 2, int(context['muranga_exotic_cattle']))
    sheet.update_cell(7, 2, int(context['kiambu_exotic_cattle']))
    sheet.update_cell(8, 2, int(context['mombasa_exotic_cattle']))
    sheet.update_cell(9, 2, int(context['kwale_exotic_cattle']))
    sheet.update_cell(10, 2, int(context['kilifi_exotic_cattle']))
    sheet.update_cell(11, 2, int(context['tanariver_exotic_cattle']))
    sheet.update_cell(12, 2, int(context['lamu_exotic_cattle']))
    sheet.update_cell(13, 2, int(context['taitataveta_exotic_cattle']))
    sheet.update_cell(14, 2, int(context['marsabit_exotic_cattle']))
    sheet.update_cell(15, 2, int(context['isiolo_exotic_cattle']))
    sheet.update_cell(16, 2, int(context['meru_exotic_cattle']))
    sheet.update_cell(17, 2, int(context['tharaka_exotic_cattle']))
    sheet.update_cell(18, 2, int(context['embu_exotic_cattle']))
    sheet.update_cell(19, 2, int(context['kitui_exotic_cattle']))
    sheet.update_cell(20, 2, int(context['machakos_exotic_cattle']))
    sheet.update_cell(21, 2, int(context['makueni_exotic_cattle']))
    sheet.update_cell(22, 2, int(context['garissa_exotic_cattle']))
    sheet.update_cell(23, 2, int(context['wajir_exotic_cattle']))
    sheet.update_cell(24, 2, int(context['mandera_exotic_cattle']))
    sheet.update_cell(25, 2, int(context['siaya_exotic_cattle']))
    sheet.update_cell(26, 2, int(context['kisumu_exotic_cattle']))
    sheet.update_cell(27, 2, int(context['homabay_exotic_cattle']))
    sheet.update_cell(28, 2, int(context['migori_exotic_cattle']))
    sheet.update_cell(29, 2, int(context['kisii_exotic_cattle']))
    sheet.update_cell(30, 2, int(context['nyamira_exotic_cattle']))
    sheet.update_cell(31, 2, int(context['turkana_exotic_cattle']))
    sheet.update_cell(32, 2, int(context['westpokot_exotic_cattle']))
    sheet.update_cell(33, 2, int(context['samburu_exotic_cattle']))
    sheet.update_cell(34, 2, int(context['transnzoia_exotic_cattle']))
    sheet.update_cell(35, 2, int(context['baringo_exotic_cattle']))
    sheet.update_cell(36, 2, int(context['uasingishu_exotic_cattle']))
    sheet.update_cell(37, 2, int(context['elgeyomarakwet_exotic_cattle']))
    sheet.update_cell(38, 2, int(context['nandi_exotic_cattle']))
    sheet.update_cell(39, 2, int(context['laikipia_exotic_cattle']))
    sheet.update_cell(40, 2, int(context['nakuru_exotic_cattle']))
    sheet.update_cell(41, 2, int(context['narok_exotic_cattle']))
    sheet.update_cell(42, 2, int(context['kajiado_exotic_cattle']))
    sheet.update_cell(43, 2, int(context['kericho_exotic_cattle']))
    sheet.update_cell(44, 2, int(context['bomet_exotic_cattle']))
    sheet.update_cell(45, 2, int(context['kakamega_exotic_cattle']))
    sheet.update_cell(46, 2, int(context['vihiga_exotic_cattle']))
    sheet.update_cell(47, 2, int(context['bungoma_exotic_cattle']))
    sheet.update_cell(48, 2, int(context['busia_exotic_cattle']))
    sheet.update_cell(49, 2, int(context['nairobi_exotic_cattle'])+
                                int(context['nyandarua_exotic_cattle'])+
                                int(context['nyeri_exotic_cattle'])+
                                int(context['kirinyaga_exotic_cattle'])+
                                int(context['muranga_exotic_cattle'])+
                                int(context['kiambu_exotic_cattle'])+
                                int(context['mombasa_exotic_cattle'])+
                                int(context['kwale_exotic_cattle'])+
                                int(context['kilifi_exotic_cattle'])+
                                int(context['tanariver_exotic_cattle'])+
                                int(context['lamu_exotic_cattle'])+
                                int(context['taitataveta_exotic_cattle'])+
                                int(context['marsabit_exotic_cattle'])+
                                int(context['isiolo_exotic_cattle'])+
                                int(context['meru_exotic_cattle'])+
                                int(context['tharaka_exotic_cattle'])+
                                int(context['embu_exotic_cattle'])+
                                int(context['kitui_exotic_cattle'])+
                                int(context['machakos_exotic_cattle'])+
                                int(context['makueni_exotic_cattle'])+
                                int(context['garissa_exotic_cattle'])+
                                int(context['wajir_exotic_cattle'])+
                                int(context['mandera_exotic_cattle'])+
                                int(context['siaya_exotic_cattle'])+
                                int(context['kisumu_exotic_cattle'])+
                                int(context['homabay_exotic_cattle'])+
                                int(context['migori_exotic_cattle'])+
                                int(context['kisii_exotic_cattle'])+
                                int(context['nyamira_exotic_cattle'])+
                                int(context['turkana_exotic_cattle'])+
                                int(context['westpokot_exotic_cattle'])+
                                int(context['samburu_exotic_cattle'])+
                                int(context['transnzoia_exotic_cattle'])+
                                int(context['baringo_exotic_cattle'])+
                                int(context['uasingishu_exotic_cattle'])+
                                int(context['elgeyomarakwet_exotic_cattle'])+
                                int(context['nandi_exotic_cattle'])+
                                int(context['laikipia_exotic_cattle'])+
                                int(context['nakuru_exotic_cattle'])+
                                int(context['narok_exotic_cattle'])+
                                int(context['kajiado_exotic_cattle'])+
                                int(context['kericho_exotic_cattle'])+
                                int(context['bomet_exotic_cattle'])+
                                int(context['kakamega_exotic_cattle'])+
                                int(context['vihiga_exotic_cattle'])+
                                int(context['bungoma_exotic_cattle'])+
                                int(context['busia_exotic_cattle']))

    # Indigenous Cattle
    sheet.update_cell(2, 3, int(context['nairobi_indigenous_cattle']))
    sheet.update_cell(3, 3, int(context['nyandarua_indigenous_cattle']))
    sheet.update_cell(4, 3, int(context['nyeri_indigenous_cattle']))
    sheet.update_cell(5, 3, int(context['kirinyaga_indigenous_cattle']))
    sheet.update_cell(6, 3, int(context['muranga_indigenous_cattle']))
    sheet.update_cell(7, 3, int(context['kiambu_indigenous_cattle']))
    sheet.update_cell(8, 3, int(context['mombasa_indigenous_cattle']))
    sheet.update_cell(9, 3, int(context['kwale_indigenous_cattle']))
    sheet.update_cell(10, 3, int(context['kilifi_indigenous_cattle']))
    sheet.update_cell(11, 3, int(context['tanariver_indigenous_cattle']))
    sheet.update_cell(12, 3, int(context['lamu_indigenous_cattle']))
    sheet.update_cell(13, 3, int(context['taitataveta_indigenous_cattle']))
    sheet.update_cell(14, 3, int(context['marsabit_indigenous_cattle']))
    sheet.update_cell(15, 3, int(context['isiolo_indigenous_cattle']))
    sheet.update_cell(16, 3, int(context['meru_indigenous_cattle']))
    sheet.update_cell(17, 3, int(context['tharaka_indigenous_cattle']))
    sheet.update_cell(18, 3, int(context['embu_indigenous_cattle']))
    sheet.update_cell(19, 3, int(context['kitui_indigenous_cattle']))
    sheet.update_cell(20, 3, int(context['machakos_indigenous_cattle']))
    sheet.update_cell(21, 3, int(context['makueni_indigenous_cattle']))
    sheet.update_cell(22, 3, int(context['garissa_indigenous_cattle']))
    sheet.update_cell(23, 3, int(context['wajir_indigenous_cattle']))
    sheet.update_cell(24, 3, int(context['mandera_indigenous_cattle']))
    sheet.update_cell(25, 3, int(context['siaya_indigenous_cattle']))
    sheet.update_cell(26, 3, int(context['kisumu_indigenous_cattle']))
    sheet.update_cell(27, 3, int(context['homabay_indigenous_cattle']))
    sheet.update_cell(28, 3, int(context['migori_indigenous_cattle']))
    sheet.update_cell(29, 3, int(context['kisii_indigenous_cattle']))
    sheet.update_cell(30, 3, int(context['nyamira_indigenous_cattle']))
    sheet.update_cell(31, 3, int(context['turkana_indigenous_cattle']))
    sheet.update_cell(32, 3, int(context['westpokot_indigenous_cattle']))
    sheet.update_cell(33, 3, int(context['samburu_indigenous_cattle']))
    sheet.update_cell(34, 3, int(context['transnzoia_indigenous_cattle']))
    sheet.update_cell(35, 3, int(context['baringo_indigenous_cattle']))
    sheet.update_cell(36, 3, int(context['uasingishu_indigenous_cattle']))
    sheet.update_cell(37, 3, int(context['elgeyomarakwet_indigenous_cattle']))
    sheet.update_cell(38, 3, int(context['nandi_indigenous_cattle']))
    sheet.update_cell(39, 3, int(context['laikipia_indigenous_cattle']))
    sheet.update_cell(40, 3, int(context['nakuru_indigenous_cattle']))
    sheet.update_cell(41, 3, int(context['narok_indigenous_cattle']))
    sheet.update_cell(42, 3, int(context['kajiado_indigenous_cattle']))
    sheet.update_cell(43, 3, int(context['kericho_indigenous_cattle']))
    sheet.update_cell(44, 3, int(context['bomet_indigenous_cattle']))
    sheet.update_cell(45, 3, int(context['kakamega_indigenous_cattle']))
    sheet.update_cell(46, 3, int(context['vihiga_indigenous_cattle']))
    sheet.update_cell(47, 3, int(context['bungoma_indigenous_cattle']))
    sheet.update_cell(48, 3, int(context['busia_indigenous_cattle']))

    # Sheep
    sheet.update_cell(2, 4, int(context['nairobi_sheep']))
    sheet.update_cell(3, 4, int(context['nyandarua_sheep']))
    sheet.update_cell(4, 4, int(context['nyeri_sheep']))
    sheet.update_cell(5, 4, int(context['kirinyaga_sheep']))
    sheet.update_cell(6, 4, int(context['muranga_sheep']))
    sheet.update_cell(7, 4, int(context['kiambu_sheep']))
    sheet.update_cell(8, 4, int(context['mombasa_sheep']))
    sheet.update_cell(9, 4, int(context['kwale_sheep']))
    sheet.update_cell(10, 4, int(context['kilifi_sheep']))
    sheet.update_cell(11, 4, int(context['tanariver_sheep']))
    sheet.update_cell(12, 4, int(context['lamu_sheep']))
    sheet.update_cell(13, 4, int(context['taitataveta_sheep']))
    sheet.update_cell(14, 4, int(context['marsabit_sheep']))
    sheet.update_cell(15, 4, int(context['isiolo_sheep']))
    sheet.update_cell(16, 4, int(context['meru_sheep']))
    sheet.update_cell(17, 4, int(context['tharaka_sheep']))
    sheet.update_cell(18, 4, int(context['embu_sheep']))
    sheet.update_cell(19, 4, int(context['kitui_sheep']))
    sheet.update_cell(20, 4, int(context['machakos_sheep']))
    sheet.update_cell(21, 4, int(context['makueni_sheep']))
    sheet.update_cell(22, 4, int(context['garissa_sheep']))
    sheet.update_cell(23, 4, int(context['wajir_sheep']))
    sheet.update_cell(24, 4, int(context['mandera_sheep']))
    sheet.update_cell(25, 4, int(context['siaya_sheep']))
    sheet.update_cell(26, 4, int(context['kisumu_sheep']))
    sheet.update_cell(27, 4, int(context['homabay_sheep']))
    sheet.update_cell(28, 4, int(context['migori_sheep']))
    sheet.update_cell(29, 4, int(context['kisii_sheep']))
    sheet.update_cell(30, 4, int(context['nyamira_sheep']))
    sheet.update_cell(31, 4, int(context['turkana_sheep']))
    sheet.update_cell(32, 4, int(context['westpokot_sheep']))
    sheet.update_cell(33, 4, int(context['samburu_sheep']))
    sheet.update_cell(34, 4, int(context['transnzoia_sheep']))
    sheet.update_cell(35, 4, int(context['baringo_sheep']))
    sheet.update_cell(36, 4, int(context['uasingishu_sheep']))
    sheet.update_cell(37, 4, int(context['elgeyomarakwet_sheep']))
    sheet.update_cell(38, 4, int(context['nandi_sheep']))
    sheet.update_cell(39, 4, int(context['laikipia_sheep']))
    sheet.update_cell(40, 4, int(context['nakuru_sheep']))
    sheet.update_cell(41, 4, int(context['narok_sheep']))
    sheet.update_cell(42, 4, int(context['kajiado_sheep']))
    sheet.update_cell(43, 4, int(context['kericho_sheep']))
    sheet.update_cell(44, 4, int(context['bomet_sheep']))
    sheet.update_cell(45, 4, int(context['kakamega_sheep']))
    sheet.update_cell(46, 4, int(context['vihiga_sheep']))
    sheet.update_cell(47, 4, int(context['bungoma_sheep']))
    sheet.update_cell(48, 4, int(context['busia_sheep']))

    # Goats
    sheet.update_cell(2, 5, int(context['nairobi_goats']))
    sheet.update_cell(3, 5, int(context['nyandarua_goats']))
    sheet.update_cell(4, 5, int(context['nyeri_goats']))
    sheet.update_cell(5, 5, int(context['kirinyaga_goats']))
    sheet.update_cell(6, 5, int(context['muranga_goats']))
    sheet.update_cell(7, 5, int(context['kiambu_goats']))
    sheet.update_cell(8, 5, int(context['mombasa_goats']))
    sheet.update_cell(9, 5, int(context['kwale_goats']))
    sheet.update_cell(10, 5, int(context['kilifi_goats']))
    sheet.update_cell(11, 5, int(context['tanariver_goats']))
    sheet.update_cell(12, 5, int(context['lamu_goats']))
    sheet.update_cell(13, 5, int(context['taitataveta_goats']))
    sheet.update_cell(14, 5, int(context['marsabit_goats']))
    sheet.update_cell(15, 5, int(context['isiolo_goats']))
    sheet.update_cell(16, 5, int(context['meru_goats']))
    sheet.update_cell(17, 5, int(context['tharaka_goats']))
    sheet.update_cell(18, 5, int(context['embu_goats']))
    sheet.update_cell(19, 5, int(context['kitui_goats']))
    sheet.update_cell(20, 5, int(context['machakos_goats']))
    sheet.update_cell(21, 5, int(context['makueni_goats']))
    sheet.update_cell(22, 5, int(context['garissa_goats']))
    sheet.update_cell(23, 5, int(context['wajir_goats']))
    sheet.update_cell(24, 5, int(context['mandera_goats']))
    sheet.update_cell(25, 5, int(context['siaya_goats']))
    sheet.update_cell(26, 5, int(context['kisumu_goats']))
    sheet.update_cell(27, 5, int(context['homabay_goats']))
    sheet.update_cell(28, 5, int(context['migori_goats']))
    sheet.update_cell(29, 5, int(context['kisii_goats']))
    sheet.update_cell(30, 5, int(context['nyamira_goats']))
    sheet.update_cell(31, 5, int(context['turkana_goats']))
    sheet.update_cell(32, 5, int(context['westpokot_goats']))
    sheet.update_cell(33, 5, int(context['samburu_goats']))
    sheet.update_cell(34, 5, int(context['transnzoia_goats']))
    sheet.update_cell(35, 5, int(context['baringo_goats']))
    sheet.update_cell(36, 5, int(context['uasingishu_goats']))
    sheet.update_cell(37, 5, int(context['elgeyomarakwet_goats']))
    sheet.update_cell(38, 5, int(context['nandi_goats']))
    sheet.update_cell(39, 5, int(context['laikipia_goats']))
    sheet.update_cell(40, 5, int(context['nakuru_goats']))
    sheet.update_cell(41, 5, int(context['narok_goats']))
    sheet.update_cell(42, 5, int(context['kajiado_goats']))
    sheet.update_cell(43, 5, int(context['kericho_goats']))
    sheet.update_cell(44, 5, int(context['bomet_goats']))
    sheet.update_cell(45, 5, int(context['kakamega_goats']))
    sheet.update_cell(46, 5, int(context['vihiga_goats']))
    sheet.update_cell(47, 5, int(context['bungoma_goats']))
    sheet.update_cell(48, 5, int(context['busia_goats']))

    # Camels
    sheet.update_cell(2, 6, int(context['nairobi_camels']))
    sheet.update_cell(3, 6, int(context['nyandarua_camels']))
    sheet.update_cell(4, 6, int(context['nyeri_camels']))
    sheet.update_cell(5, 6, int(context['kirinyaga_camels']))
    sheet.update_cell(6, 6, int(context['muranga_camels']))
    sheet.update_cell(7, 6, int(context['kiambu_camels']))
    sheet.update_cell(8, 6, int(context['mombasa_camels']))
    sheet.update_cell(9, 6, int(context['kwale_camels']))
    sheet.update_cell(10, 6, int(context['kilifi_camels']))
    sheet.update_cell(11, 6, int(context['tanariver_camels']))
    sheet.update_cell(12, 6, int(context['lamu_camels']))
    sheet.update_cell(13, 6, int(context['taitataveta_camels']))
    sheet.update_cell(14, 6, int(context['marsabit_camels']))
    sheet.update_cell(15, 6, int(context['isiolo_camels']))
    sheet.update_cell(16, 6, int(context['meru_camels']))
    sheet.update_cell(17, 6, int(context['tharaka_camels']))
    sheet.update_cell(18, 6, int(context['embu_camels']))
    sheet.update_cell(19, 6, int(context['kitui_camels']))
    sheet.update_cell(20, 6, int(context['machakos_camels']))
    sheet.update_cell(21, 6, int(context['makueni_camels']))
    sheet.update_cell(22, 6, int(context['garissa_camels']))
    sheet.update_cell(23, 6, int(context['wajir_camels']))
    sheet.update_cell(24, 6, int(context['mandera_camels']))
    sheet.update_cell(25, 6, int(context['siaya_camels']))
    sheet.update_cell(26, 6, int(context['kisumu_camels']))
    sheet.update_cell(27, 6, int(context['homabay_camels']))
    sheet.update_cell(28, 6, int(context['migori_camels']))
    sheet.update_cell(29, 6, int(context['kisii_camels']))
    sheet.update_cell(30, 6, int(context['nyamira_camels']))
    sheet.update_cell(31, 6, int(context['turkana_camels']))
    sheet.update_cell(32, 6, int(context['westpokot_camels']))
    sheet.update_cell(33, 6, int(context['samburu_camels']))
    sheet.update_cell(34, 6, int(context['transnzoia_camels']))
    sheet.update_cell(35, 6, int(context['baringo_camels']))
    sheet.update_cell(36, 6, int(context['uasingishu_camels']))
    sheet.update_cell(37, 6, int(context['elgeyomarakwet_camels']))
    sheet.update_cell(38, 6, int(context['nandi_camels']))
    sheet.update_cell(39, 6, int(context['laikipia_camels']))
    sheet.update_cell(40, 6, int(context['nakuru_camels']))
    sheet.update_cell(41, 6, int(context['narok_camels']))
    sheet.update_cell(42, 6, int(context['kajiado_camels']))
    sheet.update_cell(43, 6, int(context['kericho_camels']))
    sheet.update_cell(44, 6, int(context['bomet_camels']))
    sheet.update_cell(45, 6, int(context['kakamega_camels']))
    sheet.update_cell(46, 6, int(context['vihiga_camels']))
    sheet.update_cell(47, 6, int(context['bungoma_camels']))
    sheet.update_cell(48, 6, int(context['busia_camels']))

    # Donkeys
    sheet.update_cell(2, 7, int(context['nairobi_donkeys']))
    sheet.update_cell(3, 7, int(context['nyandarua_donkeys']))
    sheet.update_cell(4, 7, int(context['nyeri_donkeys']))
    sheet.update_cell(5, 7, int(context['kirinyaga_donkeys']))
    sheet.update_cell(6, 7, int(context['muranga_donkeys']))
    sheet.update_cell(7, 7, int(context['kiambu_donkeys']))
    sheet.update_cell(8, 7, int(context['mombasa_donkeys']))
    sheet.update_cell(9, 7, int(context['kwale_donkeys']))
    sheet.update_cell(10, 7, int(context['kilifi_donkeys']))
    sheet.update_cell(11, 7, int(context['tanariver_donkeys']))
    sheet.update_cell(12, 7, int(context['lamu_donkeys']))
    sheet.update_cell(13, 7, int(context['taitataveta_donkeys']))
    sheet.update_cell(14, 7, int(context['marsabit_donkeys']))
    sheet.update_cell(15, 7, int(context['isiolo_donkeys']))
    sheet.update_cell(16, 7, int(context['meru_donkeys']))
    sheet.update_cell(17, 7, int(context['tharaka_donkeys']))
    sheet.update_cell(18, 7, int(context['embu_donkeys']))
    sheet.update_cell(19, 7, int(context['kitui_donkeys']))
    sheet.update_cell(20, 7, int(context['machakos_donkeys']))
    sheet.update_cell(21, 7, int(context['makueni_donkeys']))
    sheet.update_cell(22, 7, int(context['garissa_donkeys']))
    sheet.update_cell(23, 7, int(context['wajir_donkeys']))
    sheet.update_cell(24, 7, int(context['mandera_donkeys']))
    sheet.update_cell(25, 7, int(context['siaya_donkeys']))
    sheet.update_cell(26, 7, int(context['kisumu_donkeys']))
    sheet.update_cell(27, 7, int(context['homabay_donkeys']))
    sheet.update_cell(28, 7, int(context['migori_donkeys']))
    sheet.update_cell(29, 7, int(context['kisii_donkeys']))
    sheet.update_cell(30, 7, int(context['nyamira_donkeys']))
    sheet.update_cell(31, 7, int(context['turkana_donkeys']))
    sheet.update_cell(32, 7, int(context['westpokot_donkeys']))
    sheet.update_cell(33, 7, int(context['samburu_donkeys']))
    sheet.update_cell(34, 7, int(context['transnzoia_donkeys']))
    sheet.update_cell(35, 7, int(context['baringo_donkeys']))
    sheet.update_cell(36, 7, int(context['uasingishu_donkeys']))
    sheet.update_cell(37, 7, int(context['elgeyomarakwet_donkeys']))
    sheet.update_cell(38, 7, int(context['nandi_donkeys']))
    sheet.update_cell(39, 7, int(context['laikipia_donkeys']))
    sheet.update_cell(40, 7, int(context['nakuru_donkeys']))
    sheet.update_cell(41, 7, int(context['narok_donkeys']))
    sheet.update_cell(42, 7, int(context['kajiado_donkeys']))
    sheet.update_cell(43, 7, int(context['kericho_donkeys']))
    sheet.update_cell(44, 7, int(context['bomet_donkeys']))
    sheet.update_cell(45, 7, int(context['kakamega_donkeys']))
    sheet.update_cell(46, 7, int(context['vihiga_donkeys']))
    sheet.update_cell(47, 7, int(context['bungoma_donkeys']))
    sheet.update_cell(48, 7, int(context['busia_donkeys']))