'ZDU_setup_costs_year': ZDU_setup_costs_year,
'with_health_programme_benefits_year_0': with_health_programme_benefits_year_0,
        'with_health_programme_benefits_year_1': with_health_programme_benefits_year_1,
        'with_health_programme_benefits_year_2': with_health_programme_benefits_year_2,
        'with_health_programme_benefits_year_3': with_health_programme_benefits_year_3,
        'with_health_programme_benefits_year_4': with_health_programme_benefits_year_4,
        'with_health_programme_benefits_year_5': with_health_programme_benefits_year_5,
        'with_health_programme_benefits_year_6': with_health_programme_benefits_year_6,
        'with_health_programme_benefits_year_7': with_health_programme_benefits_year_7,
        'with_health_programme_benefits_year_8': with_health_programme_benefits_year_8,
        'with_health_programme_benefits_year_9': with_health_programme_benefits_year_9,
        'with_health_programme_benefits_year_10': with_health_programme_benefits_year_10,
        'with_health_programme_benefits_year_11': with_health_programme_benefits_year_11,
        'with_health_programme_benefits_year_12': with_health_programme_benefits_year_12,
        'with_health_programme_benefits_year_13': with_health_programme_benefits_year_13,
        'with_health_programme_benefits_year_14': with_health_programme_benefits_year_14,
        'with_health_programme_benefits_year_15': with_health_programme_benefits_year_15,
        'with_health_programme_benefits_year_16': with_health_programme_benefits_year_16,
        'with_health_programme_benefits_year_17': with_health_programme_benefits_year_17,
        'with_health_programme_benefits_year_18': with_health_programme_benefits_year_18,
        'with_health_programme_benefits_year_19': with_health_programme_benefits_year_19,
        'with_health_programme_benefits_year_20': with_health_programme_benefits_year_20,
'without_health_programme_benefits_year_0': without_health_programme_benefits_year_0,
        'without_health_programme_benefits_year_1': without_health_programme_benefits_year_1,
        'without_health_programme_benefits_year_2': without_health_programme_benefits_year_2,
        'without_health_programme_benefits_year_3': without_health_programme_benefits_year_3,
        'without_health_programme_benefits_year_4': without_health_programme_benefits_year_4,
        'without_health_programme_benefits_year_5': without_health_programme_benefits_year_5,
        'without_health_programme_benefits_year_6': without_health_programme_benefits_year_6,
        'without_health_programme_benefits_year_7': without_health_programme_benefits_year_7,
        'without_health_programme_benefits_year_8': without_health_programme_benefits_year_8,
        'without_health_programme_benefits_year_9': without_health_programme_benefits_year_9,
        'without_health_programme_benefits_year_10': without_health_programme_benefits_year_10,
        'without_health_programme_benefits_year_11': without_health_programme_benefits_year_11,
        'without_health_programme_benefits_year_12': without_health_programme_benefits_year_12,
        'without_health_programme_benefits_year_13': without_health_programme_benefits_year_13,
        'without_health_programme_benefits_year_14': without_health_programme_benefits_year_14,
        'without_health_programme_benefits_year_15': without_health_programme_benefits_year_15,
        'without_health_programme_benefits_year_16': without_health_programme_benefits_year_16,
        'without_health_programme_benefits_year_17': without_health_programme_benefits_year_17,
        'without_health_programme_benefits_year_18': without_health_programme_benefits_year_18,
        'without_health_programme_benefits_year_19': without_health_programme_benefits_year_19,
        'without_health_programme_benefits_year_20': without_health_programme_benefits_year_20,
'incremental_benefits_year_0': incremental_benefits_year_0,
        'incremental_benefits_year_1': incremental_benefits_year_1,
        'incremental_benefits_year_2': incremental_benefits_year_2,
        'incremental_benefits_year_3': incremental_benefits_year_3,
        'incremental_benefits_year_4': incremental_benefits_year_4,
        'incremental_benefits_year_5': incremental_benefits_year_5,
        'incremental_benefits_year_6': incremental_benefits_year_6,
        'incremental_benefits_year_7': incremental_benefits_year_7,
        'incremental_benefits_year_8': incremental_benefits_year_8,
        'incremental_benefits_year_9': incremental_benefits_year_9,
        'incremental_benefits_year_10': incremental_benefits_year_10,
        'incremental_benefits_year_11': incremental_benefits_year_11,
        'incremental_benefits_year_12': incremental_benefits_year_12,
        'incremental_benefits_year_13': incremental_benefits_year_13,
        'incremental_benefits_year_14': incremental_benefits_year_14,
        'incremental_benefits_year_15': incremental_benefits_year_15,
        'incremental_benefits_year_16': incremental_benefits_year_16,
        'incremental_benefits_year_17': incremental_benefits_year_17,
        'incremental_benefits_year_18': incremental_benefits_year_18,
        'incremental_benefits_year_19': incremental_benefits_year_19,
        'incremental_benefits_year_20': incremental_benefits_year_20,
'discounted_benefits_year_0': (1.0725**int(-0))*float(incremental_benefits_year_0),
            'discounted_benefits_year_1': (1.0725**int(-1))*float(incremental_benefits_year_1),
            'discounted_benefits_year_2': (1.0725**int(-2))*float(incremental_benefits_year_2),
            'discounted_benefits_year_3': (1.0725**int(-3))*float(incremental_benefits_year_3),
            'discounted_benefits_year_4': (1.0725**int(-4))*float(incremental_benefits_year_4),
            'discounted_benefits_year_5': (1.0725**int(-5))*float(incremental_benefits_year_5),
            'discounted_benefits_year_6': (1.0725**int(-6))*float(incremental_benefits_year_6),
            'discounted_benefits_year_7': (1.0725**int(-7))*float(incremental_benefits_year_7),
            'discounted_benefits_year_8': (1.0725**int(-8))*float(incremental_benefits_year_8),
            'discounted_benefits_year_9': (1.0725**int(-9))*float(incremental_benefits_year_9),
            'discounted_benefits_year_10': (1.0725**int(-10))*float(incremental_benefits_year_10),
            'discounted_benefits_year_11': (1.0725**int(-11))*float(incremental_benefits_year_11),
            'discounted_benefits_year_12': (1.0725**int(-12))*float(incremental_benefits_year_12),
            'discounted_benefits_year_13': (1.0725**int(-13))*float(incremental_benefits_year_13),
            'discounted_benefits_year_14': (1.0725**int(-14))*float(incremental_benefits_year_14),
            'discounted_benefits_year_15': (1.0725**int(-15))*float(incremental_benefits_year_15),
            'discounted_benefits_year_16': (1.0725**int(-16))*float(incremental_benefits_year_16),
            'discounted_benefits_year_17': (1.0725**int(-17))*float(incremental_benefits_year_17),
            'discounted_benefits_year_18': (1.0725**int(-18))*float(incremental_benefits_year_18),
            'discounted_benefits_year_19': (1.0725**int(-19))*float(incremental_benefits_year_19),
            'discounted_benefits_year_20': (1.0725**int(-20))*float(incremental_benefits_year_20),

'annual_programme_costs_year_0': annual_programme_costs_year_0,
        'annual_programme_costs_year_1': annual_programme_costs_year_1,
        'annual_programme_costs_year_2': annual_programme_costs_year_2,
        'annual_programme_costs_year_3': annual_programme_costs_year_3,
        'annual_programme_costs_year_4': annual_programme_costs_year_4,
        'annual_programme_costs_year_5': annual_programme_costs_year_5,
        'annual_programme_costs_year_6': annual_programme_costs_year_6,
        'annual_programme_costs_year_7': annual_programme_costs_year_7,
        'annual_programme_costs_year_8': annual_programme_costs_year_8,
        'annual_programme_costs_year_9': annual_programme_costs_year_9,
        'annual_programme_costs_year_10': annual_programme_costs_year_10,
        'annual_programme_costs_year_11': annual_programme_costs_year_11,
        'annual_programme_costs_year_12': annual_programme_costs_year_12,
        'annual_programme_costs_year_13': annual_programme_costs_year_13,
        'annual_programme_costs_year_14': annual_programme_costs_year_14,
        'annual_programme_costs_year_15': annual_programme_costs_year_15,
        'annual_programme_costs_year_16': annual_programme_costs_year_16,
        'annual_programme_costs_year_17': annual_programme_costs_year_17,
        'annual_programme_costs_year_18': annual_programme_costs_year_18,
        'annual_programme_costs_year_19': annual_programme_costs_year_19,
        'annual_programme_costs_year_20': annual_programme_costs_year_20,

'discounted_costs_year_0': (1.0725**int(-0))*float(ZDU_setup_costs_year),
            'discounted_costs_year_1': (1.0725**int(-1))*float(annual_programme_costs_year_1),
            'discounted_costs_year_2': (1.0725**int(-2))*float(annual_programme_costs_year_2),
            'discounted_costs_year_3': (1.0725**int(-3))*float(annual_programme_costs_year_3),
            'discounted_costs_year_4': (1.0725**int(-4))*float(annual_programme_costs_year_4),
            'discounted_costs_year_5': (1.0725**int(-5))*float(annual_programme_costs_year_5),
            'discounted_costs_year_6': (1.0725**int(-6))*float(annual_programme_costs_year_6),
            'discounted_costs_year_7': (1.0725**int(-7))*float(annual_programme_costs_year_7),
            'discounted_costs_year_8': (1.0725**int(-8))*float(annual_programme_costs_year_8),
            'discounted_costs_year_9': (1.0725**int(-9))*float(annual_programme_costs_year_9),
            'discounted_costs_year_10': (1.0725**int(-10))*float(annual_programme_costs_year_10),
            'discounted_costs_year_11': (1.0725**int(-11))*float(annual_programme_costs_year_11),
            'discounted_costs_year_12': (1.0725**int(-12))*float(annual_programme_costs_year_12),
            'discounted_costs_year_13': (1.0725**int(-13))*float(annual_programme_costs_year_13),
            'discounted_costs_year_14': (1.0725**int(-14))*float(annual_programme_costs_year_14),
            'discounted_costs_year_15': (1.0725**int(-15))*float(annual_programme_costs_year_15),
            'discounted_costs_year_16': (1.0725**int(-16))*float(annual_programme_costs_year_16),
            'discounted_costs_year_17': (1.0725**int(-17))*float(annual_programme_costs_year_17),
            'discounted_costs_year_18': (1.0725**int(-18))*float(annual_programme_costs_year_18),
            'discounted_costs_year_19': (1.0725**int(-19))*float(annual_programme_costs_year_19),
            'discounted_costs_year_20': (1.0725**int(-20))*float(annual_programme_costs_year_20),

'discounted_net_benefits_year_0': ((1.0725**int(-0))*float(incremental_benefits_year_0))-((1.0725**int(-0))*float(ZDU_setup_costs_year)),
            'discounted_net_benefits_year_1': ((1.0725**int(-1))*float(incremental_benefits_year_1))-((1.0725**int(-1))*float(annual_programme_costs_year_1)),
            'discounted_net_benefits_year_2': ((1.0725**int(-2))*float(incremental_benefits_year_2))-((1.0725**int(-2))*float(annual_programme_costs_year_2)),
            'discounted_net_benefits_year_3': ((1.0725**int(-3))*float(incremental_benefits_year_3))-((1.0725**int(-3))*float(annual_programme_costs_year_3)),
            'discounted_net_benefits_year_4': ((1.0725**int(-4))*float(incremental_benefits_year_4))-((1.0725**int(-4))*float(annual_programme_costs_year_4)),
            'discounted_net_benefits_year_5': ((1.0725**int(-5))*float(incremental_benefits_year_5))-((1.0725**int(-5))*float(annual_programme_costs_year_5)),
            'discounted_net_benefits_year_6': ((1.0725**int(-6))*float(incremental_benefits_year_6))-((1.0725**int(-6))*float(annual_programme_costs_year_6)),
            'discounted_net_benefits_year_7': ((1.0725**int(-7))*float(incremental_benefits_year_7))-((1.0725**int(-7))*float(annual_programme_costs_year_7)),
            'discounted_net_benefits_year_8': ((1.0725**int(-8))*float(incremental_benefits_year_8))-((1.0725**int(-8))*float(annual_programme_costs_year_8)),
            'discounted_net_benefits_year_9': ((1.0725**int(-9))*float(incremental_benefits_year_9))-((1.0725**int(-9))*float(annual_programme_costs_year_9)),
            'discounted_net_benefits_year_10': ((1.0725**int(-10))*float(incremental_benefits_year_10))-((1.0725**int(-10))*float(annual_programme_costs_year_10)),
            'discounted_net_benefits_year_11': ((1.0725**int(-11))*float(incremental_benefits_year_11))-((1.0725**int(-11))*float(annual_programme_costs_year_11)),
            'discounted_net_benefits_year_12': ((1.0725**int(-12))*float(incremental_benefits_year_12))-((1.0725**int(-12))*float(annual_programme_costs_year_12)),
            'discounted_net_benefits_year_13': ((1.0725**int(-13))*float(incremental_benefits_year_13))-((1.0725**int(-13))*float(annual_programme_costs_year_13)),
            'discounted_net_benefits_year_14': ((1.0725**int(-14))*float(incremental_benefits_year_14))-((1.0725**int(-14))*float(annual_programme_costs_year_14)),
            'discounted_net_benefits_year_15': ((1.0725**int(-15))*float(incremental_benefits_year_15))-((1.0725**int(-15))*float(annual_programme_costs_year_15)),
            'discounted_net_benefits_year_16': ((1.0725**int(-16))*float(incremental_benefits_year_16))-((1.0725**int(-16))*float(annual_programme_costs_year_16)),
            'discounted_net_benefits_year_17': ((1.0725**int(-17))*float(incremental_benefits_year_17))-((1.0725**int(-17))*float(annual_programme_costs_year_17)),
            'discounted_net_benefits_year_18': ((1.0725**int(-18))*float(incremental_benefits_year_18))-((1.0725**int(-18))*float(annual_programme_costs_year_18)),
            'discounted_net_benefits_year_19': ((1.0725**int(-19))*float(incremental_benefits_year_19))-((1.0725**int(-19))*float(annual_programme_costs_year_19)),
            'discounted_net_benefits_year_20': ((1.0725**int(-20))*float(incremental_benefits_year_20))-((1.0725**int(-20))*float(annual_programme_costs_year_20)),

'NPV_year': (((1.0725**int(-0))*float(incremental_benefits_year_0))-((1.0725**int(-0))*float(ZDU_setup_costs_year)))+
            (((1.0725**int(-1))*float(incremental_benefits_year_1))-((1.0725**int(-1))*float(annual_programme_costs_year_1)))+
            (((1.0725**int(-2))*float(incremental_benefits_year_2))-((1.0725**int(-2))*float(annual_programme_costs_year_2)))+
            (((1.0725**int(-3))*float(incremental_benefits_year_3))-((1.0725**int(-3))*float(annual_programme_costs_year_3)))+
            (((1.0725**int(-4))*float(incremental_benefits_year_4))-((1.0725**int(-4))*float(annual_programme_costs_year_4)))+
            (((1.0725**int(-5))*float(incremental_benefits_year_5))-((1.0725**int(-5))*float(annual_programme_costs_year_5)))+
            (((1.0725**int(-6))*float(incremental_benefits_year_6))-((1.0725**int(-6))*float(annual_programme_costs_year_6)))+
            (((1.0725**int(-7))*float(incremental_benefits_year_7))-((1.0725**int(-7))*float(annual_programme_costs_year_7)))+
            (((1.0725**int(-8))*float(incremental_benefits_year_8))-((1.0725**int(-8))*float(annual_programme_costs_year_8)))+
            (((1.0725**int(-9))*float(incremental_benefits_year_9))-((1.0725**int(-9))*float(annual_programme_costs_year_9)))+
            (((1.0725**int(-10))*float(incremental_benefits_year_10))-((1.0725**int(-10))*float(annual_programme_costs_year_10)))+
            (((1.0725**int(-11))*float(incremental_benefits_year_11))-((1.0725**int(-11))*float(annual_programme_costs_year_11)))+
            (((1.0725**int(-12))*float(incremental_benefits_year_12))-((1.0725**int(-12))*float(annual_programme_costs_year_12)))+
            (((1.0725**int(-13))*float(incremental_benefits_year_13))-((1.0725**int(-13))*float(annual_programme_costs_year_13)))+
            (((1.0725**int(-14))*float(incremental_benefits_year_14))-((1.0725**int(-14))*float(annual_programme_costs_year_14)))+
            (((1.0725**int(-15))*float(incremental_benefits_year_15))-((1.0725**int(-15))*float(annual_programme_costs_year_15)))+
            (((1.0725**int(-16))*float(incremental_benefits_year_16))-((1.0725**int(-16))*float(annual_programme_costs_year_16)))+
            (((1.0725**int(-17))*float(incremental_benefits_year_17))-((1.0725**int(-17))*float(annual_programme_costs_year_17)))+
            (((1.0725**int(-18))*float(incremental_benefits_year_18))-((1.0725**int(-18))*float(annual_programme_costs_year_18)))+
            (((1.0725**int(-19))*float(incremental_benefits_year_19))-((1.0725**int(-19))*float(annual_programme_costs_year_19)))+
            (((1.0725**int(-20))*float(incremental_benefits_year_20))-((1.0725**int(-20))*float(annual_programme_costs_year_20))),

'BCR_year': (((1.0725**int(-0))*float(incremental_benefits_year_0))+
            ((1.0725**int(-1))*float(incremental_benefits_year_1))+
            ((1.0725**int(-2))*float(incremental_benefits_year_2))+
            ((1.0725**int(-3))*float(incremental_benefits_year_3))+
            ((1.0725**int(-4))*float(incremental_benefits_year_4))+
            ((1.0725**int(-5))*float(incremental_benefits_year_5))+
            ((1.0725**int(-6))*float(incremental_benefits_year_6))+
            ((1.0725**int(-7))*float(incremental_benefits_year_7))+
            ((1.0725**int(-8))*float(incremental_benefits_year_8))+
            ((1.0725**int(-9))*float(incremental_benefits_year_9))+
            ((1.0725**int(-10))*float(incremental_benefits_year_10))+
            ((1.0725**int(-11))*float(incremental_benefits_year_11))+
            ((1.0725**int(-12))*float(incremental_benefits_year_12))+
            ((1.0725**int(-13))*float(incremental_benefits_year_13))+
            ((1.0725**int(-14))*float(incremental_benefits_year_14))+
            ((1.0725**int(-15))*float(incremental_benefits_year_15))+
            ((1.0725**int(-16))*float(incremental_benefits_year_16))+
            ((1.0725**int(-17))*float(incremental_benefits_year_17))+
            ((1.0725**int(-18))*float(incremental_benefits_year_18))+
            ((1.0725**int(-19))*float(incremental_benefits_year_19))+
            ((1.0725**int(-20))*float(incremental_benefits_year_20))) / (((1.0725**int(-0))*float(ZDU_setup_costs_year))+
            ((1.0725**int(-1))*float(annual_programme_costs_year_1))+
            ((1.0725**int(-2))*float(annual_programme_costs_year_2))+
            ((1.0725**int(-3))*float(annual_programme_costs_year_3))+
            ((1.0725**int(-4))*float(annual_programme_costs_year_4))+
            ((1.0725**int(-5))*float(annual_programme_costs_year_5))+
            ((1.0725**int(-6))*float(annual_programme_costs_year_6))+
            ((1.0725**int(-7))*float(annual_programme_costs_year_7))+
            ((1.0725**int(-8))*float(annual_programme_costs_year_8))+
            ((1.0725**int(-9))*float(annual_programme_costs_year_9))+
            ((1.0725**int(-10))*float(annual_programme_costs_year_10))+
            ((1.0725**int(-11))*float(annual_programme_costs_year_11))+
            ((1.0725**int(-12))*float(annual_programme_costs_year_12))+
            ((1.0725**int(-13))*float(annual_programme_costs_year_13))+
            ((1.0725**int(-14))*float(annual_programme_costs_year_14))+
            ((1.0725**int(-15))*float(annual_programme_costs_year_15))+
            ((1.0725**int(-16))*float(annual_programme_costs_year_16))+
            ((1.0725**int(-17))*float(annual_programme_costs_year_17))+
            ((1.0725**int(-18))*float(annual_programme_costs_year_18))+
            ((1.0725**int(-19))*float(annual_programme_costs_year_19))+
            ((1.0725**int(-20))*float(annual_programme_costs_year_20))),

'increase_in_annual_programme_costs_year_0': annual_programme_costs_year_0,
    'increase_in_annual_programme_costs_year_1': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_2': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_3': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_4': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_5': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_6': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_7': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_8': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_9': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_10': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_11': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_12': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_13': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_14': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_15': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_16': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_17': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_18': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_19': 1.2*float(total_cost_ksh),
    'increase_in_annual_programme_costs_year_20': 1.2*float(total_cost_ksh),

    'extra_discounted_costs_year_0': (1.0725**int(-0))*float(setup_capital_total_cost),
        'extra_discounted_costs_year_1': (1.0725**int(-1))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_2': (1.0725**int(-2))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_3': (1.0725**int(-3))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_4': (1.0725**int(-4))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_5': (1.0725**int(-5))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_6': (1.0725**int(-6))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_7': (1.0725**int(-7))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_8': (1.0725**int(-8))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_9': (1.0725**int(-9))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_10': (1.0725**int(-10))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_11': (1.0725**int(-11))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_12': (1.0725**int(-12))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_13': (1.0725**int(-13))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_14': (1.0725**int(-14))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_15': (1.0725**int(-15))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_16': (1.0725**int(-16))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_17': (1.0725**int(-17))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_18': (1.0725**int(-18))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_19': (1.0725**int(-19))*1.2*float(total_cost_ksh),
        'extra_discounted_costs_year_20': (1.0725**int(-20))*1.2*float(total_cost_ksh),

    'extra_NPV_year': ((((1.0725**int(-0))*float(incremental_benefits_year_0))-((1.0725**int(-0))*float(ZDU_setup_costs_year)))+
            (((1.0725**int(-1))*float(incremental_benefits_year_1))-((1.0725**int(-1))*float(annual_programme_costs_year_1)))+
            (((1.0725**int(-2))*float(incremental_benefits_year_2))-((1.0725**int(-2))*float(annual_programme_costs_year_2)))+
            (((1.0725**int(-3))*float(incremental_benefits_year_3))-((1.0725**int(-3))*float(annual_programme_costs_year_3)))+
            (((1.0725**int(-4))*float(incremental_benefits_year_4))-((1.0725**int(-4))*float(annual_programme_costs_year_4)))+
            (((1.0725**int(-5))*float(incremental_benefits_year_5))-((1.0725**int(-5))*float(annual_programme_costs_year_5)))+
            (((1.0725**int(-6))*float(incremental_benefits_year_6))-((1.0725**int(-6))*float(annual_programme_costs_year_6)))+
            (((1.0725**int(-7))*float(incremental_benefits_year_7))-((1.0725**int(-7))*float(annual_programme_costs_year_7)))+
            (((1.0725**int(-8))*float(incremental_benefits_year_8))-((1.0725**int(-8))*float(annual_programme_costs_year_8)))+
            (((1.0725**int(-9))*float(incremental_benefits_year_9))-((1.0725**int(-9))*float(annual_programme_costs_year_9)))+
            (((1.0725**int(-10))*float(incremental_benefits_year_10))-((1.0725**int(-10))*float(annual_programme_costs_year_10)))+
            (((1.0725**int(-11))*float(incremental_benefits_year_11))-((1.0725**int(-11))*float(annual_programme_costs_year_11)))+
            (((1.0725**int(-12))*float(incremental_benefits_year_12))-((1.0725**int(-12))*float(annual_programme_costs_year_12)))+
            (((1.0725**int(-13))*float(incremental_benefits_year_13))-((1.0725**int(-13))*float(annual_programme_costs_year_13)))+
            (((1.0725**int(-14))*float(incremental_benefits_year_14))-((1.0725**int(-14))*float(annual_programme_costs_year_14)))+
            (((1.0725**int(-15))*float(incremental_benefits_year_15))-((1.0725**int(-15))*float(annual_programme_costs_year_15)))+
            (((1.0725**int(-16))*float(incremental_benefits_year_16))-((1.0725**int(-16))*float(annual_programme_costs_year_16)))+
            (((1.0725**int(-17))*float(incremental_benefits_year_17))-((1.0725**int(-17))*float(annual_programme_costs_year_17)))+
            (((1.0725**int(-18))*float(incremental_benefits_year_18))-((1.0725**int(-18))*float(annual_programme_costs_year_18)))+
            (((1.0725**int(-19))*float(incremental_benefits_year_19))-((1.0725**int(-19))*float(annual_programme_costs_year_19)))+
            (((1.0725**int(-20))*float(incremental_benefits_year_20))-((1.0725**int(-20))*float(annual_programme_costs_year_20)))) - (((1.0725**int(-0))*float(setup_capital_total_cost))+
                                ((1.0725**int(-1))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-2))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-3))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-4))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-5))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-6))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-7))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-8))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-9))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-10))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-11))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-12))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-13))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-14))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-15))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-16))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-17))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-18))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-19))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-20))*1.2*float(total_cost_ksh))),

            'extra_BCR_year': (((1.0725**int(-0))*float(incremental_benefits_year_0))+
                                ((1.0725**int(-1))*float(incremental_benefits_year_1))+
                                ((1.0725**int(-2))*float(incremental_benefits_year_2))+
                                ((1.0725**int(-3))*float(incremental_benefits_year_3))+
                                ((1.0725**int(-4))*float(incremental_benefits_year_4))+
                                ((1.0725**int(-5))*float(incremental_benefits_year_5))+
                                ((1.0725**int(-6))*float(incremental_benefits_year_6))+
                                ((1.0725**int(-7))*float(incremental_benefits_year_7))+
                                ((1.0725**int(-8))*float(incremental_benefits_year_8))+
                                ((1.0725**int(-9))*float(incremental_benefits_year_9))+
                                ((1.0725**int(-10))*float(incremental_benefits_year_10))+
                                ((1.0725**int(-11))*float(incremental_benefits_year_11))+
                                ((1.0725**int(-12))*float(incremental_benefits_year_12))+
                                ((1.0725**int(-13))*float(incremental_benefits_year_13))+
                                ((1.0725**int(-14))*float(incremental_benefits_year_14))+
                                ((1.0725**int(-15))*float(incremental_benefits_year_15))+
                                ((1.0725**int(-16))*float(incremental_benefits_year_16))+
                                ((1.0725**int(-17))*float(incremental_benefits_year_17))+
                                ((1.0725**int(-18))*float(incremental_benefits_year_18))+
                                ((1.0725**int(-19))*float(incremental_benefits_year_19))+
                                ((1.0725**int(-20))*float(incremental_benefits_year_20))) / (((1.0725**int(-0))*float(setup_capital_total_cost))+
                                ((1.0725**int(-1))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-2))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-3))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-4))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-5))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-6))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-7))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-8))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-9))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-10))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-11))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-12))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-13))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-14))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-15))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-16))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-17))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-18))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-19))*1.2*float(total_cost_ksh))+
                                ((1.0725**int(-20))*1.2*float(total_cost_ksh))),