'ZDU_setup_costs_year': 0,
        'with_health_programme_benefits_year_0': 0,
        'with_health_programme_benefits_year_1': 0,
        'with_health_programme_benefits_year_2': 0,
        'with_health_programme_benefits_year_3': 0,
        'with_health_programme_benefits_year_4': 0,
        'with_health_programme_benefits_year_5': 0,
        'with_health_programme_benefits_year_6': 0,
        'with_health_programme_benefits_year_7': 0,
        'with_health_programme_benefits_year_8': 0,
        'with_health_programme_benefits_year_9': 0,
        'with_health_programme_benefits_year_10': 0,
        'with_health_programme_benefits_year_11': 0,
        'with_health_programme_benefits_year_12': 0,
        'with_health_programme_benefits_year_13': 0,
        'with_health_programme_benefits_year_14': 0,
        'with_health_programme_benefits_year_15': 0,
        'with_health_programme_benefits_year_16': 0,
        'with_health_programme_benefits_year_17': 0,
        'with_health_programme_benefits_year_18': 0,
        'with_health_programme_benefits_year_19': 0,
        'with_health_programme_benefits_year_20': 0,

        'without_health_programme_benefits_year_0': 0,
        'without_health_programme_benefits_year_1': 0,
        'without_health_programme_benefits_year_2': 0,
        'without_health_programme_benefits_year_3': 0,
        'without_health_programme_benefits_year_4': 0,
        'without_health_programme_benefits_year_5': 0,
        'without_health_programme_benefits_year_6': 0,
        'without_health_programme_benefits_year_7': 0,
        'without_health_programme_benefits_year_8': 0,
        'without_health_programme_benefits_year_9': 0,
        'without_health_programme_benefits_year_10': 0,
        'without_health_programme_benefits_year_11': 0,
        'without_health_programme_benefits_year_12': 0,
        'without_health_programme_benefits_year_13': 0,
        'without_health_programme_benefits_year_14': 0,
        'without_health_programme_benefits_year_15': 0,
        'without_health_programme_benefits_year_16': 0,
        'without_health_programme_benefits_year_17': 0,
        'without_health_programme_benefits_year_18': 0,
        'without_health_programme_benefits_year_19': 0,
        'without_health_programme_benefits_year_20': 0,

        'incremental_benefits_year_0': 0,
        'incremental_benefits_year_1': 0,
        'incremental_benefits_year_2': 0,
        'incremental_benefits_year_3': 0,
        'incremental_benefits_year_4': 0,
        'incremental_benefits_year_5': 0,
        'incremental_benefits_year_6': 0,
        'incremental_benefits_year_7': 0,
        'incremental_benefits_year_8': 0,
        'incremental_benefits_year_9': 0,
        'incremental_benefits_year_10': 0,
        'incremental_benefits_year_11': 0,
        'incremental_benefits_year_12': 0,
        'incremental_benefits_year_13': 0,
        'incremental_benefits_year_14': 0,
        'incremental_benefits_year_15': 0,
        'incremental_benefits_year_16': 0,
        'incremental_benefits_year_17': 0,
        'incremental_benefits_year_18': 0,
        'incremental_benefits_year_19': 0,
        'incremental_benefits_year_20': 0,

'discounted_benefits_year_0': 0,
        'discounted_benefits_year_1': 0,
        'discounted_benefits_year_2': 0,
        'discounted_benefits_year_3': 0,
        'discounted_benefits_year_4': 0,
        'discounted_benefits_year_5': 0,
        'discounted_benefits_year_6': 0,
        'discounted_benefits_year_7': 0,
        'discounted_benefits_year_8': 0,
        'discounted_benefits_year_9': 0,
        'discounted_benefits_year_10': 0,
        'discounted_benefits_year_11': 0,
        'discounted_benefits_year_12': 0,
        'discounted_benefits_year_13': 0,
        'discounted_benefits_year_14': 0,
        'discounted_benefits_year_15': 0,
        'discounted_benefits_year_16': 0,
        'discounted_benefits_year_17': 0,
        'discounted_benefits_year_18': 0,
        'discounted_benefits_year_19': 0,
        'discounted_benefits_year_20': 0,

'annual_programme_costs_year_0': 0,
        'annual_programme_costs_year_1': 0,
        'annual_programme_costs_year_2': 0,
        'annual_programme_costs_year_3': 0,
        'annual_programme_costs_year_4': 0,
        'annual_programme_costs_year_5': 0,
        'annual_programme_costs_year_6': 0,
        'annual_programme_costs_year_7': 0,
        'annual_programme_costs_year_8': 0,
        'annual_programme_costs_year_9': 0,
        'annual_programme_costs_year_10': 0,
        'annual_programme_costs_year_11': 0,
        'annual_programme_costs_year_12': 0,
        'annual_programme_costs_year_13': 0,
        'annual_programme_costs_year_14': 0,
        'annual_programme_costs_year_15': 0,
        'annual_programme_costs_year_16': 0,
        'annual_programme_costs_year_17': 0,
        'annual_programme_costs_year_18': 0,
        'annual_programme_costs_year_19': 0,
        'annual_programme_costs_year_20': 0,

'discounted_costs_year_0': 0,
        'discounted_costs_year_1': 0,
        'discounted_costs_year_2': 0,
        'discounted_costs_year_3': 0,
        'discounted_costs_year_4': 0,
        'discounted_costs_year_5': 0,
        'discounted_costs_year_6': 0,
        'discounted_costs_year_7': 0,
        'discounted_costs_year_8': 0,
        'discounted_costs_year_9': 0,
        'discounted_costs_year_10': 0,
        'discounted_costs_year_11': 0,
        'discounted_costs_year_12': 0,
        'discounted_costs_year_13': 0,
        'discounted_costs_year_14': 0,
        'discounted_costs_year_15': 0,
        'discounted_costs_year_16': 0,
        'discounted_costs_year_17': 0,
        'discounted_costs_year_18': 0,
        'discounted_costs_year_19': 0,
        'discounted_costs_year_20': 0,

'discounted_net_benefits_year_0': 0,
        'discounted_net_benefits_year_1': 0,
        'discounted_net_benefits_year_2': 0,
        'discounted_net_benefits_year_3': 0,
        'discounted_net_benefits_year_4': 0,
        'discounted_net_benefits_year_5': 0,
        'discounted_net_benefits_year_6': 0,
        'discounted_net_benefits_year_7': 0,
        'discounted_net_benefits_year_8': 0,
        'discounted_net_benefits_year_9': 0,
        'discounted_net_benefits_year_10': 0,
        'discounted_net_benefits_year_11': 0,
        'discounted_net_benefits_year_12': 0,
        'discounted_net_benefits_year_13': 0,
        'discounted_net_benefits_year_14': 0,
        'discounted_net_benefits_year_15': 0,
        'discounted_net_benefits_year_16': 0,
        'discounted_net_benefits_year_17': 0,
        'discounted_net_benefits_year_18': 0,
        'discounted_net_benefits_year_19': 0,
        'discounted_net_benefits_year_20': 0,

'NPV_year': 0,
'BCR_year': 0,
'IRR_year': 0,

'increase_in_annual_programme_costs_year_0': 0,
        'increase_in_annual_programme_costs_year_1': 0,
        'increase_in_annual_programme_costs_year_2': 0,
        'increase_in_annual_programme_costs_year_3': 0,
        'increase_in_annual_programme_costs_year_4': 0,
        'increase_in_annual_programme_costs_year_5': 0,
        'increase_in_annual_programme_costs_year_6': 0,
        'increase_in_annual_programme_costs_year_7': 0,
        'increase_in_annual_programme_costs_year_8': 0,
        'increase_in_annual_programme_costs_year_9': 0,
        'increase_in_annual_programme_costs_year_10': 0,
        'increase_in_annual_programme_costs_year_11': 0,
        'increase_in_annual_programme_costs_year_12': 0,
        'increase_in_annual_programme_costs_year_13': 0,
        'increase_in_annual_programme_costs_year_14': 0,
        'increase_in_annual_programme_costs_year_15': 0,
        'increase_in_annual_programme_costs_year_16': 0,
        'increase_in_annual_programme_costs_year_17': 0,
        'increase_in_annual_programme_costs_year_18': 0,
        'increase_in_annual_programme_costs_year_19': 0,
        'increase_in_annual_programme_costs_year_20': 0,

'extra_discounted_costs_year_0': 0,
        'extra_discounted_costs_year_1': 0,
        'extra_discounted_costs_year_2': 0,
        'extra_discounted_costs_year_3': 0,
        'extra_discounted_costs_year_4': 0,
        'extra_discounted_costs_year_5': 0,
        'extra_discounted_costs_year_6': 0,
        'extra_discounted_costs_year_7': 0,
        'extra_discounted_costs_year_8': 0,
        'extra_discounted_costs_year_9': 0,
        'extra_discounted_costs_year_10': 0,
        'extra_discounted_costs_year_11': 0,
        'extra_discounted_costs_year_12': 0,
        'extra_discounted_costs_year_13': 0,
        'extra_discounted_costs_year_14': 0,
        'extra_discounted_costs_year_15': 0,
        'extra_discounted_costs_year_16': 0,
        'extra_discounted_costs_year_17': 0,
        'extra_discounted_costs_year_18': 0,
        'extra_discounted_costs_year_19': 0,
        'extra_discounted_costs_year_20': 0,

'extra_NPV_year': 0,
        'extra_BCR_year': 0,