rvf_early_detection_collection = rvf_db['early_detection']
rvf_passive_surveillance_collection = rvf_db['passive_surveillance']
rvf_active_surveillance_collection = rvf_db['active_surveillance']
rvf_lab_diagnosis_collection = rvf_db['lab_diagnosis']
rvf_coord_and_comm_cost_collection = rvf_db['coord_and_comm']
rvf_movement_control_cost_collection = rvf_db['movement_control']
rvf_strategic_vaccination_cost_collection = rvf_db['strategic_vaccination']
rvf_personnel_cost_collection = rvf_db['salary_allowances']

rvf_capital_cost_collection = rvf_db['capital_costs']
rvf_total_annual_cost_collection = rvf_db['total_annual_cost']
total_cost_ksh


NPV_year
BCR_year
extra_NPV_year
extra_BCR_year