ZDU_setup_costs_year = request.POST['ZDU_setup_costs_year']
with_health_programme_benefits_year_0 = request.POST['with_health_programme_benefits_year_0']
        with_health_programme_benefits_year_1 = request.POST['with_health_programme_benefits_year_1']
        with_health_programme_benefits_year_2 = request.POST['with_health_programme_benefits_year_2']
        with_health_programme_benefits_year_3 = request.POST['with_health_programme_benefits_year_3']
        with_health_programme_benefits_year_4 = request.POST['with_health_programme_benefits_year_4']
        with_health_programme_benefits_year_5 = request.POST['with_health_programme_benefits_year_5']
        with_health_programme_benefits_year_6 = request.POST['with_health_programme_benefits_year_6']
        with_health_programme_benefits_year_7 = request.POST['with_health_programme_benefits_year_7']
        with_health_programme_benefits_year_8 = request.POST['with_health_programme_benefits_year_8']
        with_health_programme_benefits_year_9 = request.POST['with_health_programme_benefits_year_9']
        with_health_programme_benefits_year_10 = request.POST['with_health_programme_benefits_year_10']
        with_health_programme_benefits_year_11 = request.POST['with_health_programme_benefits_year_11']
        with_health_programme_benefits_year_12 = request.POST['with_health_programme_benefits_year_12']
        with_health_programme_benefits_year_13 = request.POST['with_health_programme_benefits_year_13']
        with_health_programme_benefits_year_14 = request.POST['with_health_programme_benefits_year_14']
        with_health_programme_benefits_year_15 = request.POST['with_health_programme_benefits_year_15']
        with_health_programme_benefits_year_16 = request.POST['with_health_programme_benefits_year_16']
        with_health_programme_benefits_year_17 = request.POST['with_health_programme_benefits_year_17']
        with_health_programme_benefits_year_18 = request.POST['with_health_programme_benefits_year_18']
        with_health_programme_benefits_year_19 = request.POST['with_health_programme_benefits_year_19']
        with_health_programme_benefits_year_20 = request.POST['with_health_programme_benefits_year_20']
without_health_programme_benefits_year_0 = request.POST['without_health_programme_benefits_year_0']
        without_health_programme_benefits_year_1 = request.POST['without_health_programme_benefits_year_1']
        without_health_programme_benefits_year_2 = request.POST['without_health_programme_benefits_year_2']
        without_health_programme_benefits_year_3 = request.POST['without_health_programme_benefits_year_3']
        without_health_programme_benefits_year_4 = request.POST['without_health_programme_benefits_year_4']
        without_health_programme_benefits_year_5 = request.POST['without_health_programme_benefits_year_5']
        without_health_programme_benefits_year_6 = request.POST['without_health_programme_benefits_year_6']
        without_health_programme_benefits_year_7 = request.POST['without_health_programme_benefits_year_7']
        without_health_programme_benefits_year_8 = request.POST['without_health_programme_benefits_year_8']
        without_health_programme_benefits_year_9 = request.POST['without_health_programme_benefits_year_9']
        without_health_programme_benefits_year_10 = request.POST['without_health_programme_benefits_year_10']
        without_health_programme_benefits_year_11 = request.POST['without_health_programme_benefits_year_11']
        without_health_programme_benefits_year_12 = request.POST['without_health_programme_benefits_year_12']
        without_health_programme_benefits_year_13 = request.POST['without_health_programme_benefits_year_13']
        without_health_programme_benefits_year_14 = request.POST['without_health_programme_benefits_year_14']
        without_health_programme_benefits_year_15 = request.POST['without_health_programme_benefits_year_15']
        without_health_programme_benefits_year_16 = request.POST['without_health_programme_benefits_year_16']
        without_health_programme_benefits_year_17 = request.POST['without_health_programme_benefits_year_17']
        without_health_programme_benefits_year_18 = request.POST['without_health_programme_benefits_year_18']
        without_health_programme_benefits_year_19 = request.POST['without_health_programme_benefits_year_19']
        without_health_programme_benefits_year_20 = request.POST['without_health_programme_benefits_year_20']
incremental_benefits_year_0 = request.POST['incremental_benefits_year_0']
        incremental_benefits_year_1 = request.POST['incremental_benefits_year_1']
        incremental_benefits_year_2 = request.POST['incremental_benefits_year_2']
        incremental_benefits_year_3 = request.POST['incremental_benefits_year_3']
        incremental_benefits_year_4 = request.POST['incremental_benefits_year_4']
        incremental_benefits_year_5 = request.POST['incremental_benefits_year_5']
        incremental_benefits_year_6 = request.POST['incremental_benefits_year_6']
        incremental_benefits_year_7 = request.POST['incremental_benefits_year_7']
        incremental_benefits_year_8 = request.POST['incremental_benefits_year_8']
        incremental_benefits_year_9 = request.POST['incremental_benefits_year_9']
        incremental_benefits_year_10 = request.POST['incremental_benefits_year_10']
        incremental_benefits_year_11 = request.POST['incremental_benefits_year_11']
        incremental_benefits_year_12 = request.POST['incremental_benefits_year_12']
        incremental_benefits_year_13 = request.POST['incremental_benefits_year_13']
        incremental_benefits_year_14 = request.POST['incremental_benefits_year_14']
        incremental_benefits_year_15 = request.POST['incremental_benefits_year_15']
        incremental_benefits_year_16 = request.POST['incremental_benefits_year_16']
        incremental_benefits_year_17 = request.POST['incremental_benefits_year_17']
        incremental_benefits_year_18 = request.POST['incremental_benefits_year_18']
        incremental_benefits_year_19 = request.POST['incremental_benefits_year_19']
        incremental_benefits_year_20 = request.POST['incremental_benefits_year_20']
discounted_benefits_year_0 = request.POST['discounted_benefits_year_0']
        discounted_benefits_year_1 = request.POST['discounted_benefits_year_1']
        discounted_benefits_year_2 = request.POST['discounted_benefits_year_2']
        discounted_benefits_year_3 = request.POST['discounted_benefits_year_3']
        discounted_benefits_year_4 = request.POST['discounted_benefits_year_4']
        discounted_benefits_year_5 = request.POST['discounted_benefits_year_5']
        discounted_benefits_year_6 = request.POST['discounted_benefits_year_6']
        discounted_benefits_year_7 = request.POST['discounted_benefits_year_7']
        discounted_benefits_year_8 = request.POST['discounted_benefits_year_8']
        discounted_benefits_year_9 = request.POST['discounted_benefits_year_9']
        discounted_benefits_year_10 = request.POST['discounted_benefits_year_10']
        discounted_benefits_year_11 = request.POST['discounted_benefits_year_11']
        discounted_benefits_year_12 = request.POST['discounted_benefits_year_12']
        discounted_benefits_year_13 = request.POST['discounted_benefits_year_13']
        discounted_benefits_year_14 = request.POST['discounted_benefits_year_14']
        discounted_benefits_year_15 = request.POST['discounted_benefits_year_15']
        discounted_benefits_year_16 = request.POST['discounted_benefits_year_16']
        discounted_benefits_year_17 = request.POST['discounted_benefits_year_17']
        discounted_benefits_year_18 = request.POST['discounted_benefits_year_18']
        discounted_benefits_year_19 = request.POST['discounted_benefits_year_19']
        discounted_benefits_year_20 = request.POST['discounted_benefits_year_20']
annual_programme_costs_year_0 = request.POST['annual_programme_costs_year_0']
        annual_programme_costs_year_1 = request.POST['annual_programme_costs_year_1']
        annual_programme_costs_year_2 = request.POST['annual_programme_costs_year_2']
        annual_programme_costs_year_3 = request.POST['annual_programme_costs_year_3']
        annual_programme_costs_year_4 = request.POST['annual_programme_costs_year_4']
        annual_programme_costs_year_5 = request.POST['annual_programme_costs_year_5']
        annual_programme_costs_year_6 = request.POST['annual_programme_costs_year_6']
        annual_programme_costs_year_7 = request.POST['annual_programme_costs_year_7']
        annual_programme_costs_year_8 = request.POST['annual_programme_costs_year_8']
        annual_programme_costs_year_9 = request.POST['annual_programme_costs_year_9']
        annual_programme_costs_year_10 = request.POST['annual_programme_costs_year_10']
        annual_programme_costs_year_11 = request.POST['annual_programme_costs_year_11']
        annual_programme_costs_year_12 = request.POST['annual_programme_costs_year_12']
        annual_programme_costs_year_13 = request.POST['annual_programme_costs_year_13']
        annual_programme_costs_year_14 = request.POST['annual_programme_costs_year_14']
        annual_programme_costs_year_15 = request.POST['annual_programme_costs_year_15']
        annual_programme_costs_year_16 = request.POST['annual_programme_costs_year_16']
        annual_programme_costs_year_17 = request.POST['annual_programme_costs_year_17']
        annual_programme_costs_year_18 = request.POST['annual_programme_costs_year_18']
        annual_programme_costs_year_19 = request.POST['annual_programme_costs_year_19']
        annual_programme_costs_year_20 = request.POST['annual_programme_costs_year_20']
discounted_costs_year_0 = request.POST['discounted_costs_year_0']
        discounted_costs_year_1 = request.POST['discounted_costs_year_1']
        discounted_costs_year_2 = request.POST['discounted_costs_year_2']
        discounted_costs_year_3 = request.POST['discounted_costs_year_3']
        discounted_costs_year_4 = request.POST['discounted_costs_year_4']
        discounted_costs_year_5 = request.POST['discounted_costs_year_5']
        discounted_costs_year_6 = request.POST['discounted_costs_year_6']
        discounted_costs_year_7 = request.POST['discounted_costs_year_7']
        discounted_costs_year_8 = request.POST['discounted_costs_year_8']
        discounted_costs_year_9 = request.POST['discounted_costs_year_9']
        discounted_costs_year_10 = request.POST['discounted_costs_year_10']
        discounted_costs_year_11 = request.POST['discounted_costs_year_11']
        discounted_costs_year_12 = request.POST['discounted_costs_year_12']
        discounted_costs_year_13 = request.POST['discounted_costs_year_13']
        discounted_costs_year_14 = request.POST['discounted_costs_year_14']
        discounted_costs_year_15 = request.POST['discounted_costs_year_15']
        discounted_costs_year_16 = request.POST['discounted_costs_year_16']
        discounted_costs_year_17 = request.POST['discounted_costs_year_17']
        discounted_costs_year_18 = request.POST['discounted_costs_year_18']
        discounted_costs_year_19 = request.POST['discounted_costs_year_19']
        discounted_costs_year_20 = request.POST['discounted_costs_year_20']
discounted_net_benefits_year_0 = request.POST['discounted_net_benefits_year_0']
        discounted_net_benefits_year_1 = request.POST['discounted_net_benefits_year_1']
        discounted_net_benefits_year_2 = request.POST['discounted_net_benefits_year_2']
        discounted_net_benefits_year_3 = request.POST['discounted_net_benefits_year_3']
        discounted_net_benefits_year_4 = request.POST['discounted_net_benefits_year_4']
        discounted_net_benefits_year_5 = request.POST['discounted_net_benefits_year_5']
        discounted_net_benefits_year_6 = request.POST['discounted_net_benefits_year_6']
        discounted_net_benefits_year_7 = request.POST['discounted_net_benefits_year_7']
        discounted_net_benefits_year_8 = request.POST['discounted_net_benefits_year_8']
        discounted_net_benefits_year_9 = request.POST['discounted_net_benefits_year_9']
        discounted_net_benefits_year_10 = request.POST['discounted_net_benefits_year_10']
        discounted_net_benefits_year_11 = request.POST['discounted_net_benefits_year_11']
        discounted_net_benefits_year_12 = request.POST['discounted_net_benefits_year_12']
        discounted_net_benefits_year_13 = request.POST['discounted_net_benefits_year_13']
        discounted_net_benefits_year_14 = request.POST['discounted_net_benefits_year_14']
        discounted_net_benefits_year_15 = request.POST['discounted_net_benefits_year_15']
        discounted_net_benefits_year_16 = request.POST['discounted_net_benefits_year_16']
        discounted_net_benefits_year_17 = request.POST['discounted_net_benefits_year_17']
        discounted_net_benefits_year_18 = request.POST['discounted_net_benefits_year_18']
        discounted_net_benefits_year_19 = request.POST['discounted_net_benefits_year_19']
        discounted_net_benefits_year_20 = request.POST['discounted_net_benefits_year_20']
NPV_year = request.POST['NPV_year']
BCR_year = request.POST['BCR_year']
IRR_year = request.POST['IRR_year']
increase_in_annual_programme_costs_year_0 = request.POST['increase_in_annual_programme_costs_year_0']
        increase_in_annual_programme_costs_year_1 = request.POST['increase_in_annual_programme_costs_year_1']
        increase_in_annual_programme_costs_year_2 = request.POST['increase_in_annual_programme_costs_year_2']
        increase_in_annual_programme_costs_year_3 = request.POST['increase_in_annual_programme_costs_year_3']
        increase_in_annual_programme_costs_year_4 = request.POST['increase_in_annual_programme_costs_year_4']
        increase_in_annual_programme_costs_year_5 = request.POST['increase_in_annual_programme_costs_year_5']
        increase_in_annual_programme_costs_year_6 = request.POST['increase_in_annual_programme_costs_year_6']
        increase_in_annual_programme_costs_year_7 = request.POST['increase_in_annual_programme_costs_year_7']
        increase_in_annual_programme_costs_year_8 = request.POST['increase_in_annual_programme_costs_year_8']
        increase_in_annual_programme_costs_year_9 = request.POST['increase_in_annual_programme_costs_year_9']
        increase_in_annual_programme_costs_year_10 = request.POST['increase_in_annual_programme_costs_year_10']
        increase_in_annual_programme_costs_year_11 = request.POST['increase_in_annual_programme_costs_year_11']
        increase_in_annual_programme_costs_year_12 = request.POST['increase_in_annual_programme_costs_year_12']
        increase_in_annual_programme_costs_year_13 = request.POST['increase_in_annual_programme_costs_year_13']
        increase_in_annual_programme_costs_year_14 = request.POST['increase_in_annual_programme_costs_year_14']
        increase_in_annual_programme_costs_year_15 = request.POST['increase_in_annual_programme_costs_year_15']
        increase_in_annual_programme_costs_year_16 = request.POST['increase_in_annual_programme_costs_year_16']
        increase_in_annual_programme_costs_year_17 = request.POST['increase_in_annual_programme_costs_year_17']
        increase_in_annual_programme_costs_year_18 = request.POST['increase_in_annual_programme_costs_year_18']
        increase_in_annual_programme_costs_year_19 = request.POST['increase_in_annual_programme_costs_year_19']
        increase_in_annual_programme_costs_year_20 = request.POST['increase_in_annual_programme_costs_year_20']
extra_discounted_costs_year_0 = request.POST['extra_discounted_costs_year_0']
        extra_discounted_costs_year_1 = request.POST['extra_discounted_costs_year_1']
        extra_discounted_costs_year_2 = request.POST['extra_discounted_costs_year_2']
        extra_discounted_costs_year_3 = request.POST['extra_discounted_costs_year_3']
        extra_discounted_costs_year_4 = request.POST['extra_discounted_costs_year_4']
        extra_discounted_costs_year_5 = request.POST['extra_discounted_costs_year_5']
        extra_discounted_costs_year_6 = request.POST['extra_discounted_costs_year_6']
        extra_discounted_costs_year_7 = request.POST['extra_discounted_costs_year_7']
        extra_discounted_costs_year_8 = request.POST['extra_discounted_costs_year_8']
        extra_discounted_costs_year_9 = request.POST['extra_discounted_costs_year_9']
        extra_discounted_costs_year_10 = request.POST['extra_discounted_costs_year_10']
        extra_discounted_costs_year_11 = request.POST['extra_discounted_costs_year_11']
        extra_discounted_costs_year_12 = request.POST['extra_discounted_costs_year_12']
        extra_discounted_costs_year_13 = request.POST['extra_discounted_costs_year_13']
        extra_discounted_costs_year_14 = request.POST['extra_discounted_costs_year_14']
        extra_discounted_costs_year_15 = request.POST['extra_discounted_costs_year_15']
        extra_discounted_costs_year_16 = request.POST['extra_discounted_costs_year_16']
        extra_discounted_costs_year_17 = request.POST['extra_discounted_costs_year_17']
        extra_discounted_costs_year_18 = request.POST['extra_discounted_costs_year_18']
        extra_discounted_costs_year_19 = request.POST['extra_discounted_costs_year_19']
        extra_discounted_costs_year_20 = request.POST['extra_discounted_costs_year_20']
extra_NPV_year = request.POST['extra_NPV_year']
        extra_BCR_year = request.POST['extra_BCR_year']