{% extends 'index.html' %}

{% block page_content %}

                    <form action = "" method = "post">
                        {% csrf_token %}
                        {{form.as_p }}

                        <table class="table table-bordered">
                             <thead>


                             </thead>

                            <tbody>

                                    <tr>
                                        <td><b>Compartment</b></td>
                                        <td><b>Zone 1</b></td>
                                        <td><b>Zone 2</b></td>
                                        <td><b>Zone 3</b></td>
                                    </tr>

                                    <tr>
                                        <td><b>HS</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="HS_Zone1" id="HS_Zone1" value="{{HS_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="HS_Zone2" id="HS_Zone2" value="{{HS_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="HS_Zone3" id="HS_Zone3" value="{{HS_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>HE</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="HE_Zone1" id="HE_Zone1" value="{{HE_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="HE_Zone2" id="HE_Zone2" value="{{HE_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="HE_Zone3" id="HE_Zone3" value="{{HE_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>HI</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="HI_Zone1" id="HI_Zone1" value="{{HI_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="HI_Zone2" id="HI_Zone2" value="{{HI_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="HI_Zone3" id="HI_Zone3" value="{{HI_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>HR</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="HR_Zone1" id="HR_Zone1" value="{{HR_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="HR_Zone2" id="HR_Zone2" value="{{HR_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="HR_Zone3" id="HR_Zone3" value="{{HR_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>MS</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="MS_Zone1" id="MS_Zone1" value="{{MS_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="MS_Zone2" id="MS_Zone2" value="{{MS_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="MS_Zone3" id="MS_Zone3" value="{{MS_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>ME</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="ME_Zone1" id="ME_Zone1" value="{{ME_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="ME_Zone2" id="ME_Zone2" value="{{ME_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="ME_Zone3" id="ME_Zone3" value="{{ME_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>MI</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="MI_Zone1" id="MI_Zone1" value="{{MI_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="MI_Zone2" id="MI_Zone2" value="{{MI_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="MI_Zone3" id="MI_Zone3" value="{{MI_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>MR</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="MR_Zone1" id="MR_Zone1" value="{{MR_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="MR_Zone2" id="MR_Zone2" value="{{MR_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="MR_Zone3" id="MR_Zone3" value="{{MR_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>AQ</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="AQ_Zone1" id="AQ_Zone1" value="{{AQ_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="AQ_Zone2" id="AQ_Zone2" value="{{AQ_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="AQ_Zone3" id="AQ_Zone3" value="{{AQ_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>AP</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="AP_Zone1" id="AP_Zone1" value="{{AP_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="AP_Zone2" id="AP_Zone2" value="{{AP_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="AP_Zone3" id="AP_Zone3" value="{{AP_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>AS</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="AS_Zone1" id="AS_Zone1" value="{{AS_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="AS_Zone2" id="AS_Zone2" value="{{AS_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="AS_Zone3" id="AS_Zone3" value="{{AS_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>AI</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="AI_Zone1" id="AI_Zone1" value="{{AI_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="AI_Zone2" id="AI_Zone2" value="{{AI_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="AI_Zone3" id="AI_Zone3" value="{{AI_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>BQ</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="BQ_Zone1" id="BQ_Zone1" value="{{BQ_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="BQ_Zone2" id="BQ_Zone2" value="{{BQ_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="BQ_Zone3" id="BQ_Zone3" value="{{BQ_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>BP</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="BP_Zone1" id="BP_Zone1" value="{{BP_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="BP_Zone2" id="BP_Zone2" value="{{BP_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="BP_Zone3" id="BP_Zone3" value="{{BP_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>BS</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="BS_Zone1" id="BS_Zone1" value="{{BS_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="BS_Zone2" id="BS_Zone2" value="{{BS_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="BS_Zone3" id="BS_Zone3" value="{{BS_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>BI</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="BI_Zone1" id="BI_Zone1" value="{{BI_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="BI_Zone2" id="BI_Zone2" value="{{BI_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="BI_Zone3" id="BI_Zone3" value="{{BI_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>CP</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="CP_Zone1" id="CP_Zone1" value="{{CP_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="CP_Zone2" id="CP_Zone2" value="{{CP_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="CP_Zone3" id="CP_Zone3" value="{{CP_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>CS</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="CS_Zone1" id="CS_Zone1" value="{{CS_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="CS_Zone2" id="CS_Zone2" value="{{CS_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="CS_Zone3" id="CS_Zone3" value="{{CS_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>CI</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="CI_Zone1" id="CI_Zone1" value="{{CI_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="CI_Zone2" id="CI_Zone2" value="{{CI_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="CI_Zone3" id="CI_Zone3" value="{{CI_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>DP</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="DP_Zone1" id="DP_Zone1" value="{{DP_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="DP_Zone2" id="DP_Zone2" value="{{DP_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="DP_Zone3" id="DP_Zone3" value="{{DP_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>DS</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="DS_Zone1" id="DS_Zone1" value="{{DS_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="DS_Zone2" id="DS_Zone2" value="{{DS_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="DS_Zone3" id="DS_Zone3" value="{{DS_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>DI</b></td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="DI_Zone1" id="DI_Zone1" value="{{DI_Zone1}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="DI_Zone2" id="DI_Zone2" value="{{DI_Zone2}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control mb-4" name="DI_Zone3" id="DI_Zone3" value="{{DI_Zone3}}">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><input type="submit" class="save btn btn-default" value="Save Information"></td>
                                    </tr>

                            </tbody>
                        </table>


                    </form>

{% endblock %}